html {
  height: 100%;
}
body { /*background css*/
  margin-top: 161px;
  margin-right: 560px;
  font-family: sans-serif;
  background: linear-gradient(91deg, #405BE2 -2.6%, #862CE4 52.66%, #D921E9 106.77%);
}

.login-box {
  position: absolute;
  top: 48%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background:#fff;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 24px;
}


.login-box .user-box {
  position: relative;
} /* Cố định chữ username&pass*/



.login-box .user-box input {
  width: 100%;
  padding: 10px; /* chỉnh khoảng trắng trong box email+pass*/
  font-size: 18px; /*chỉnh kích cỡ box user&pass*/
  color: black; /*chỉnh màu chữ */
  margin-bottom:55px;
 /* khoảng cách giữa hai box user & pass*/
  background: white;
  border-radius: 6px;
  border-color: gray;
  border-width: 1px;
}
/* chỉnh vị trí và kích cỡ chữ user name+ password*/
.login-box .user-box label {
  position: absolute;
  left: -20px; 
  padding: 12px ;
  font-size: 10px;
  color: black;
  pointer-events: none;
}

/* tạo hiệu ứng CHỮ user+pass chạy lên trên*/
.login-box .user-box label{
  top: -14px; /* chỉnh vị trí chữ email& pass*/
  left: -10px;
  color: var(--Dark-Gray, #2C2C2C);
  line-height: 18px;
  font-size: 14px;
  font-weight: bold;
}
.login-box .user-box{
  padding-right: 10px;
  margin-bottom: -36px;
  padding-top: 18px;;/*chỉnh vị trí nguyên khung I accept */
}

/* chỉnh chữ Signup*/
.login-box form a{
  position: relative;
  display: inline-block;
  padding-left:  132px;
  padding-right: 132px;
  padding-top: 13px;
  padding-bottom: 14px;
  text-align: center;
  margin-top: 40px;
  color: #FFF;
  font-size: 16px;
  font-weight: 600px;
  text-decoration: none;
  transition: 0.25s;
      background: linear-gradient(91deg, #405BE2 -2.6%, #862CE4 52.66%, #D921E9 106.77%);
      border-radius: 8px ;
}
.login-box a:hover {
  background: linear-gradient(91deg, #3552e1 -2.6%, #8e34ef 52.66%, #ec2ffd 106.77%);
  border-radius: 8px ;;
  color: #ffffffa5;
}


.header {
 display: flex;
 align-items: center;
 justify-content: center;
font-size: 26px;
font-family: Arial, Helvetica, sans-serif;
margin-top: -30px;
margin-bottom: 26px;
font-weight:initial;
}

/*Tạo khung tick remember me*/

.remember-checkbox input{
  margin-bottom: 100px;
}

.remember-checkbox input[type="checkbox"] {
display: none;
}

.remember-checkbox label {
position: relative;
cursor: pointer;
padding-left: 20px;
}
/*chỉnh khung check box*/
.remember-checkbox label:before {
content: '';
position: absolute;
top: 2px;
left: 1px;
width: 11.5px;
height: 11.5px;
border: 0.1px solid #000;
background: linear-gradient(91deg, #405BE2 -2.6%, #862CE4 52.66%, #D921E9 106.77%);
border-radius: 8px ;;
border-radius: 3px;

}
/*chỉnh vị trí, size dấu tick*/
.remember-checkbox label:after {
content: '\2714'; /* Unicode character for checkmark */
position: absolute;
left: 2px;
font-size: 14px;
color: transparent;
top: -0.6px;
}

.remember-checkbox input[type="checkbox"]:checked + label:after {
color: white; /* Color of the checkmark when checkbox is checked */
}

.forget {
margin-left: 106px;
margin-top:-16.4px;
background: linear-gradient(91deg, #405BE2 -2.6%, #862CE4 52.66%, #D921E9 106.77%);
background-clip: text;
-webkit-background-clip:text;
-webkit-text-fill-color: none;
font-size: 14px;
font-weight: initial;
text-decoration-line: underline;
text-decoration-color: linear-gradient(91deg, #546ff7 -2.6%, #9838ff 52.66%, #ed29ff 106.77%);
cursor: pointer;
}

.account{
margin-top: 12px;
margin-left: 58px;
font-size: 14px;
}
.signup{
  display: flex;
  align-items:flex-end;
  justify-content: flex-end;
  margin-top: -14.5px;
  margin-right: 62px;
  background: linear-gradient(91deg, #2a49e4 60.97%, 
#ef40ff 106.48%);
background-clip: none;
-webkit-background-clip: text;
text-decoration-line: underline;
cursor: pointer;
font-size: 14px;
font-weight: lighter;
}

